<%content_for :title do %> Acerca de..<% end %>
<h3>Acerca de Mascotas</h3>
<p> Una botella es un recipiente fabricado en material rígido, habitualmente vidrio o alguna variedad de plástico que tiene habitualmente un cuello más angosto que el cuerpo del recipiente y que se usa para contener productos líquidos, como agua, leche, vino, etc. También hay botellas metálicas que se utilizan para contener gases a presión pero su uso es más específico y menos generalizado. Según la cuarta acepción del Diccionario de la Real Academia Española, una botella también es una medida de capacidad para ciertos líquidos, equivalente a cuartillo y medio, o sea a 756,3 ml.</p>
