<h3>P&aacute;gina principal </h3>
<p>Bienvenido a la pagina de: <%= @propietario.nombre%> </p>
<p>Yo naci:<%= @propietario.fechacumple%> </p>
<p>y me quedan unicamente <%= @propietario.conteo%> dias para mi cumpleanos </p>
